mixin slideshow()
	.slideshow(data-slide="1")&attributes(attributes)
		ul.slides
			block
		.slide-controls
			svg.icon.control-prev: use(xlink:href='#icon-arrow-previous')
			.currentSlide 1
			svg.icon.control-next: use(xlink:href='#icon-arrow-next')