extends ../_layouts/project.pug

block variables
	- var title = 'Looking beyond the walls.'

block description
	.description
		h3 Description
		p The following posters are experiments in typography using unexpected objects to form letter shapes. The first poster of this series is part of an architectural conference focusing on transparency, both the transparent nature of information that is presented to us as well as the literal sense of the word. This idea came from the offices of Facebook where most of their employees sit in spacious bullpens lacking dividers or walls, designed to evoke the company's ethos of openness. By exposing fixtures that are typically hidden, even their infrastructure speaks to their desire to be conspicuous in all matters.
		p The second two posters were an investigation in typographical expressiveness pushed between legibility and abstraction. I was asked to pick two short meaningful phrases and illustrate them with type created from everyday objects. Careful consideration of the medium as well as the shapes of the letters were integral to the legibility and conveying the message to the audience.

block metadata
	+metadata("University", "Academy of Art University")
	+metadata("Class", "GR.613 Type Experiments")
	+metadata("Professor", "Kathrin Blatter")
	+metadata("Categories", "Exploration", "Photography")

block content
	+image-wide('sweet_tooth')
	img.img-wide.shadow(src="/images/pipe_schematic.svg" alt=title)
	+image-wide('pipe')

block related-projects
	+project('The truth is not always black & white.', '../images/Margin_of_Error_00.jpg', '../the_truth_is_not_always_black_and_white/')
	+project('Gardeners always get their hands in the dirt.', '../images/French_Paper_00.jpg', '../gardeners_always_get_their_hands_in_the_dirt/')
	+project('Without the past, there is no future.', '../images/Befor_00.jpg', '../without_the_past_there_is_no_future/')