extends ../_layouts/project.pug

block variables
	- var title = 'Mapping social shopping.';

block description
	.description
		h3 Description
		p <a href="http://www.dubberly.com" target="_blank">Dubberly Design Office</a> has a long history of pioneering approaches for taming complexity. One of the artifacts to emerge from the practice is the Application Map. In 1998, Hugh Dubberly, inspired by Paul Souza’s work for the original NOVA TV series, engaged Paul Khan and Krzysztof Lenk to map the Netscape website. Since then the artifact has reached maturity through iteration and definition.
		p Senior Designer at DDO, Ryan Reposar describes the premise as follows: “Software applications suffer from the ‘keyhole effect’—by looking through the viewport, you can only see one screen at a time. That means it's difficult to immediately understand the scale and scope of an application, and it can be hard to know if you’ve visited every screen or seen every case. A way to bypass this is to create an application flow map; a single document which captures and presents every screen within an application and shows how they’re connected.”
		p Here, I’ve mapped and modeled Shopify’s Sello application in order to better understand social shopping. Sello enables anyone, anywhere, to sell anything using an easy to use mobile application. The service also takes care of integration with payment services such as Stripe.


block metadata
	+metadata("Agency", "Dubberly Design Office")
	+metadata("Categories", "Application Map", "Modeling", "Social Shopping")

block content
	//h2 Modeling social shopping
	img.img-wide(src="/images/Sello_Social_Selling.svg", alt=title)

	h2 Merchant mobile application (iOS)
	+slideshow(class="shadow")
		+slide("Sello_Merchant_Map_1")
		+slide("Sello_Merchant_Map_2")
		+slide("Sello_Merchant_Map_3")

	h2 Customer facing web store
	+image-wide("Sello_Customer_Map")(class="shadow")

block related-projects
	+project('Mapping family caregiving.', '../images/Caremaps_0.png', '../mapping_family_caregiving/')
	+project('From sensors to action.', '../images/Sensors_Thumbnail.svg', '../from_sensors_to_action/')
	+project('Using A.I. to accelerate life science.', '../images/Bioz_0.png', '../using_ai_to_accelerate_life_science/')