extends ../_layouts/project.pug

block variables
	- var title = 'Smarter testing for better health.'

block description
	.description
		h3 Description
		p Adaptive Sensory Technology (AST), a spinout from Harvard Medical School, is developing advanced, quantitative tools for detecting changes in functional vision. Their research began over a decade earlier as a lab project in basic vision science to improve how vision changes are detected in research experiments. AST’s Quick Contrast Sensitivity Function (qCSF) method brings a new level of precision to vision assessment and has been applied to measure contrast sensitivity deficits in low vision, age-related macular degeneration, retinitis pigmentosa, glaucoma, multiple sclerosis, amblyopia, congenital and adult cataract, and Fabry’s disease.
		p Their identity revolves around the geometric circle, suggesting both an eye and precision. The inherent adaptive nature of their technology is manifested in a dynamic identity that, like their technology, continuously evolves and is unique every time.

block metadata
	+metadata("Agency", "Dubberly Design Office")
	+metadata("Client", "Adaptive Sensory Technology")
	+metadata("Direction", "Robin Bahr")
	+metadata("Categories", "Identity", "Stationery", "Website")
block content
	+slideshow
		li.slide
			include ../../svg/AST_Identity_Color.svg
		li.slide
			include ../../svg/AST_Identity_Blue.svg
		li.slide
			include ../../svg/AST_Identity_Black.svg
	img.img-wide(src="/images/AST_Stationery.svg", alt=title)

block related-projects
	+project('Using A.I. to accelerate life science.', '../images/Bioz_0.png', '../using_ai_to_accelerate_life_science/')
	+project('From sensors to action.', '../images/Sensors_Thumbnail.svg', '../from_sensors_to_action/')
	+project('Winding down gets a little help.', '../images/Seagrams_00.jpg', '../winding_down_gets_a_little_help/')