extends ../_layouts/project.pug

block variables
	- var title = 'Visualizing the Space of Logos of the Fortune 500.'

block description
	.description
		h3 Description
		p In his 1942 book, <i>Capitalism, Socialism, and Democracy</i>, Austrian economist <a href="https://en.wikipedia.org/wiki/Joseph_Schumpeter">Joseph A. Schumpeter</a> wrote: “Capitalism, then, is by nature a form or method of economic change and not only never is but never can be stationary. [...] The fundamental impulse that sets and keeps the capitalist engine in motion comes from the new consumers’ goods, the new methods of production or transportation, the new markets, the new forms of industrial organization that capitalist enterprise creates. [...] The opening up of new markets, foreign or domestic, and the organizational development from the craft shop and factory to such concerns as U. S. Steel illustrate the same process of industrial mutation—if I may use that biological term—that incessantly revolutionizes the economic structure from within, incessantly destroying the old one, incessantly creating a new one.

		p This process of <a href="https://en.wikipedia.org/wiki/Creative_destruction">Creative Destruction</a> is the essential fact about capitalism.”

		p We have seen five industrial revolutions; what will be the sixth? Schumpeter’s theory suggests these revolutions come in waves of increasing frequency. With the marginal cost of computing dropping to near zero, distributed computing is democratizing the power of A.I.—suggesting it may be the next wave. From autonomous vehicles to personal assistants, A.I. has and will continue to profoundly disrupt all aspects of society.

		p I am especially interested in the intersection of A.I. and design. In this experiment, I use A.I. techniques to organize and visualize the logos of the Fortune 500 companies, by visual similarity. A task that would be both time-consuming and difficult for a human takes the computer mere moments. The outcome is a live visualization, where calculations are done in the browser, enabling the viewer to change the parameters of the underlying algorithms—dramatically altering the outcome.


block metadata
	+metadata("Categories", "Interaction", "Information", "Neural Network", "Machine Learning", "t-SNE")

block content
	+slideshow
		+slide("Fortune_500_Introduction")
		+slide("Fortune_500_Introduction_Loaded")
		+slide("Fortune_500_Introduction_Accordion")
		+slide("Fortune_500_Introduction_Open_Accordion_Above")
		+slide("Fortune_500_Introduction_Open_Accordion_Below")
		+slide("Fortune_500_Introduction_Scrolled_to_Bottom")
	+slideshow(class="shadow")
		+slide("Fortune_500_Visualization")
		+slide("Fortune_500_Instruction")
		+slide("Fortune_500_Visualization_Loading")
		+slide("Fortune_500_Visualization_Hoverstates")
	+slideshow(class="shadow")
		+slide("Fortune_500_Visualization_Configuration")
		+slide("Fortune_500_Visualization_More_Menu")
		+slide("Fortune_500_Visualization_Share_Menu")
		+slide("Fortune_500_About")
		+slide("Fortune_500_About_Hover")
	+slideshow(class="shadow")
		+slide("Fortune_500_Application_Map_Left")
		+slide("Fortune_500_Application_Map_Right")

	h2 Links.
	.buttons
		.button
			a(href="https://github.com/knutsynstad/fortune500" target="_blank") View source code
		.button
			a(href="http://fortune500.knutsynstad.com" target="_blank") Launch visualization
block related-projects
	+project('The Construction of Apple Park.', '../images/Apple_Thumbnail.png', '../the_construction_of_apple_park/')
	+project('Measuring corn production, in every county, every day.', '../images/Corn_Thumbnail.gif', '../measuring_corn_production_in_every_county_every_day/')
	+project('From sensors to action.', '../images/Sensors_Thumbnail.svg', '../from_sensors_to_action/')